.header {
    @apply h-[66px];
    
    .logo {
        @apply text-xl font-bold text-black dark:text-white;
    }

    .header-inner {
        @apply transition-transform duration-500 ease-in-out;
        @apply border-b border-b-[#F5F5F5] z-20;
        @apply fixed top-0 w-full;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.03);
        -webkit-backdrop-filter: saturate(180%) blur(8px);
        backdrop-filter: saturate(180%) blur(8px);
        background: rgba(255, 255, 255, 0.85);
    }
}